.App {
  display: flex;
  height: 100vh;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width:800px){
  .App{
    flex-direction: column;
  }
  
}

